*{
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content:space-between;
    width: 990px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.logo img{
    width: 120px;
}

.logo h1{
    color:#087bc2;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;

}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none; /*Retira linha do link*/
    text-transform: uppercase; /*Minuscula p/maiuscula*/
    color:#087bc2;
    font-weight: bold;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #ffffff;
    border-radius: 5px;
}

#banner{
    display: flex;
    justify-content: center;
    background-image:url('../images/banner.png');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.colum {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #ffffff;
    font-size: 65px;
    text-shadow: 1px 1px 0px #000000;
    margin: 0;
    padding: 0;
    max-width:350px;
}

.banner_headline h2 {
    color: #ffffff;
    font-size: 21px;
    text-shadow: 1px 1px 0px #000000;
    margin: 0;
    padding: 0;
    max-width:350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;  
}

.banner2 {
    background-color:#191970;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list_desc {
    display: flex;
    flex-direction: column;
}

.list_desc li {
    margin-bottom: 10px;
}

.banner_options a,
.news_thumbnail a{
    display: inline;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

.banner_desc div {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
}

.banner_desc {
    margin: 0;
}

.desc p{
    margin-bottom: 0;
}

#geral {
    display: flex;
    justify-content:center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex:1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;

}

.flex {
    display: flex;
    flex-wrap: wrap;

}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a{
    text-decoration: none;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

/*--------EXERCICIO---------*/
.widget_body{
    flex: 1;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.deparments div {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    background-color: #36a9e1;
    margin-right: 10px;
    margin-bottom: 10px;
}
.Appointment {
    display: flex;
    flex-direction: column;
}

form {
    border-bottom: 1px solid #36a9e1;
    margin-right: 10px;
    padding: 2px;
}
/*---------FIM DO EXECICIO--------------*/

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 30;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex; 
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #ffffff;
}

.fm_1 {
    background-color: #39aae1;  
}

.fm_2 {
    background-color:#191970;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
}
.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #ffffff;
}

.flexColum {
    flex-direction: column;
}

footer .widget_title_text {
    color: #ffffff;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}